:root {
  --clr-prim-100: #c87809;
  --clr-prim-200: #ffac34;
  --clr-prim-300: #fff24331;
  --clr-dark-100: #000;
  --clr-dark-200: #333;
  --clr-dark-300: #eaeaea;
  --clr-fff: #fff;
  --br-10: 10px;
  --br-50: 50%;
  --bs: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #1d1d1d;
}

p, h1, h2, h3, h4, h5, h6 {
  color: #1d1d1d;
}

.big-txt {
  font-size: clamp(1.5rem, 7vw, 4rem);
}

.sections {
  width: 100%;
  padding-inline: min(5rem, 5%);
  padding-block: min(4rem, 8%);
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
  position: relative;
  top: 2rem;
  transition: all 0.5s ease;
}
.btn:hover {
  padding-right: 2rem;
}

.btn-prim {
  background-color: #ffac34;
  box-shadow: var(--bs);
  color: #1d1d1d;
}
.btn-prim:hover {
  background-color: #1d1d1d;
  color: #ffac34;
}

.row-con {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-inline: auto;
}

.col-2, .col-3, .col-4 {
  flex: 1;
  min-width: 200px;
}

.col-2 {
  flex-basis: 48%;
}

.col-3 {
  flex-basis: 33%;
}

.col-4 {
  flex-basis: 24%;
}

#header .navbar {
  padding-block: 1rem;
  padding-inline: min(7rem, 8%);
  display: flex;
  justify-content: space-between;
}
#header .navbar .logo-con .brand-name {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
}
#header .navbar .nav-list {
  display: flex;
}
#header .navbar .nav-list .list-items {
  font-size: 1rem;
  font-weight: 600;
  margin-inline: 1rem;
  cursor: pointer;
  color: #1d1d1d;
}
#header .navbar #check,
#header .navbar .menu-btn,
#header .navbar .menu-close-btn {
  display: none;
  cursor: pointer;
}

#top-section .top-section-con {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-inline: auto;
}
#top-section .top-section-con .title {
  color: #ffac34;
  font-size: clamp(0.8rem, 4vw - 1rem, 2rem);
  margin-block: 1rem;
}
#top-section .top-section-con .top-section-img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

#services-section {
  background-color: var(--clr-prim-300);
  text-align: center;
}
#services-section .col-3 {
  padding: min(1rem, 5%);
}
#services-section .col-3 .icons {
  width: min(60px, 20%);
  padding: 0.5rem;
  background-color: var(--clr-fff);
  width: 80px;
  border-radius: var(--br-50);
  box-shadow: var(--bs);
}
#services-section .col-3 .services-txt {
  font-size: 1.2rem;
  color: var(--clr-dark-200);
}

@media (width <= 768px) {
  #header .navbar .nav-list {
    background-color: #ffac34;
    position: fixed;
    top: 0;
    right: -80%;
    bottom: 0;
    padding-top: 5rem;
    flex-direction: column;
    width: 80%;
    text-align: center;
    transition: all 0.6s ease;
    z-index: 10;
  }
  #header .navbar .nav-list .list-items {
    padding-block: 1rem;
    cursor: pointer;
    margin: 0;
  }
  #header .navbar .nav-list .list-items:hover {
    background-color: #df88df;
  }
  #header .navbar .nav-list .menu-close-btn {
    position: absolute;
    top: 1rem;
    right: 2rem;
    padding: 0.5rem;
  }
  #header .navbar .menu-btn, #header .navbar .menu-close-btn {
    display: block;
  }
  #header .navbar #check:checked ~ .nav-list {
    right: 0;
  }
}/*# sourceMappingURL=main.css.map */