    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;

    }

    body {
        background-color: #eaeaea;

    }

    li{
        list-style-type: none;
    }
   
    img {
        max-width: 100%;
    }

    a {
        text-decoration: none;
        color: #1d1d1d;
    }

    p, h1,h2,h3,h4,h5,h6 {
        color: #1d1d1d;
    }
   

.big-txt{
    // font-size: 4rem;
    // font-size: clamp(1.8rem, 10vw, 4rem);
    font-size: clamp(1.8rem, calc(7vw + 1rem), 4rem);

}

// utility styles

.btn {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    position: relative;
    top: 2rem;
    transition: all .5s ease;

        &:hover {
            padding-right: 2rem;
            }
        }

.btn-prim {
    background-color: #ffac34;
    color: #1d1d1d;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);

    &:hover {
    background-color: #1d1d1d;
    color: #ffac34;

    }
}

.col-2 {
    flex-basis: 48%;
    min-width: 200px;
    background-color: #eaeaea;
}
.col-3 {
    flex-basis: 33%;
    min-width: 200px;
    background-color: #eaeaea;
}
.col-4 {
    flex-basis: 24%;
    min-width: 200px;
    background-color: #eaeaea;
}

.sections{
width: 100%;
    padding-inline: min(5rem, 5%);  
}

#top-section {
    .top-section-con {
        max-width: 1000px;
        /* background-color: tomato; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-inline: auto;


        .title {
            color: #ffac34;
            font-size: 1.2rem;
        }
    
    }
}

#header {
    .navbar {
        padding-block: 1rem;
        padding-inline: min(7rem, 8%);
        display: flex;
        justify-content: space-between;

            .logo-con {
                    .brand-name {
                        font-size: 1.3rem;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }

        .nav-list {
            display: flex;

            .list-items {
                font-size: 1rem;
                font-weight: 600;
                margin-inline: 1rem;
                cursor: pointer;
                color: #1d1d1d;
            }
        }

        #check,
        .menu-btn,
        .menu-close-btn {
            display: none;
            cursor: pointer;

        }
    }
}




@media (width <= 768px) {
    #header {
        .navbar{
            .nav-list {
                // display: flex;
                background-color: #ffac34;
                position: fixed;
                top: 0;
                right: -80%;
                bottom: 0;
                flex-direction: column;
                width: 80%;
                text-align: center;
                transition: all 0.6s ease;

                .list-items {
                    padding-block: 1rem;
                    cursor: pointer;
                    margin: 0;

                    &:hover {
                        background-color: #df88df;
                    }
                }
                .menu-close-btn{
                    position: absolute;
                    top: 1rem;
                    right: 2rem;
                    padding: 0.5rem;
                } 
            }

            .menu-btn, .menu-close-btn{
                display: block;
            }

            #check:checked ~ .nav-list{
             right: 0;
            }
        }
    }
}





